# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e6f692f0f8ed7713df5bb27a4464241481814f82fcd50ce2832e60e0c2f689ad80a408aefd8f984494042162c7c583f7817a341275fa8f8ed7bfbc275b28d713

test:
  secret_key_base: 020b75a3ec06271c8938a79c88a3aa1b182e53b11c7f7fc74896d6bcc5929dc3a617ea221621cd238feb2aaf3c70e8f0b56d3e8effdca8eabed1127bf9042423

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV['HIDDEN_SECRET_KEY_BASE'] %>
